<%= _.template(require('./../includes/header-index.html'))() %>
  <script>
    document.body.classList.remove('bg-pattern3');
    document.body.classList.add('bg-pattern2');
  </script>
  <main class="main">
    <header class="firstscreen">
      <div class="firstscreen__bg"></div>
      <div class="firstscreen__content">
        <div class="container container_xxxl">
          <div class="firstscreen__info firstscreen__info2" style="display: block;">
            <div class="logo"></div>
            <div class="row">
              <div class="col col-lg-6 col-xxl-7 d-none d-lg-block">
                <div class="firstscreen__img">
                  <div class="firstscreen__img-icon"></div>
                </div>
              </div>
              <div class="col col-lg-6 col-xxl-5">
                <div class="firstscreen__cta">
                  <div class="h1_login d-lg-none">Sign up<br>to unlock<br>girls</div>
                  <div class="h1_login d-none d-lg-block">Sign up to<br><span>unlock girls</span></div>
                  <form action="">
                    <div class="form-group form-group_login">
                      <input class="form-control form-control_login" type="text" placeholder="Email">
                    </div>
                    <div class="form-group form-group_login mb-0">
                      <input class="form-control form-control_login" type="password" placeholder="Password">
                    </div>
                    <div class="form-group form-group_login form-group_login-btn">
                      <button class="btn-login btn btn_w100">Sign Up</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="secondscreen secondscreen_2" style="display: block;">
      <div class="container container_xxxl">
        <div class="timer">
          <div class="timer__title">Limited chance</div>
          <div class="countdown-js" data-countdown-time="0-15-0"></div>
        </div>
        <div class="row">
          <div class="col">
            <div class="splide splide_ulist-extra user-list-extra" aria-label="Profiles extra">
              <div class="splide__track">
                <ul class="splide__list">
                  <li class="splide__slide">
                    <div class="user-list-item user-list-item_extra">
                      <div class="user-list-item__pic">
                        <div class="user-list-item__img">
                          <div class="user-list-item__photo"
                          style="background-image: url('assets/img/photos/user-extra-01.jpg');">
                            <div class="user-list-item__icon">Locked</div>
                          </div>
                        </div>
                        <div class="user-list-item__imgbg"></div>
                      </div>
                      <div class="user-list-item__inf">
                        <div class="user-list-item__data">
                          <div class="user-list-item__row">
                            <div class="user-list-item__name">Elizavetta, 21</div>
                            <div class="user-list-item__loc">London ~ 32km</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="splide__slide">
                    <div class="user-list-item user-list-item_extra">
                      <div class="user-list-item__pic">
                        <div class="user-list-item__img">
                          <div class="user-list-item__photo"
                          style="background-image: url('assets/img/photos/user-extra-02.jpg');">
                            <div class="user-list-item__icon">Locked</div>
                          </div>
                        </div>
                        <div class="user-list-item__imgbg"></div>
                      </div>
                      <div class="user-list-item__inf">
                        <div class="user-list-item__data">
                          <div class="user-list-item__row">
                            <div class="user-list-item__name">Elizavetta, 21</div>
                            <div class="user-list-item__loc">London ~ 32km</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="splide__slide">
                    <div class="user-list-item user-list-item_extra">
                      <div class="user-list-item__pic">
                        <div class="user-list-item__img">
                          <div class="user-list-item__photo"
                          style="background-image: url('assets/img/photos/user-extra-03.jpg');">
                            <div class="user-list-item__icon">Locked</div>
                          </div>
                        </div>
                        <div class="user-list-item__imgbg"></div>
                      </div>
                      <div class="user-list-item__inf">
                        <div class="user-list-item__data">
                          <div class="user-list-item__row">
                            <div class="user-list-item__name">Elizavetta, 21</div>
                            <div class="user-list-item__loc">London ~ 32km</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="h1_login2 h1_login2_my">What they say about us</div>
        <div class="splide splide_fback">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <div class="userfback">
                  <div class="userfback__elps">
                    <div class="userfback__inf">
                      <div class="userfback__name">Jessy</div>
                      <div class="userfback__txt">
                        <p>“I didn't know it was so easy to find the right one!</p>
                        <p>Girls something, thank you KINKGRAB!</p>
                        <p>Guys you won't regret it!”</p>
                      </div>
                    </div>
                  </div>
                  <div class="userfback__bg"></div>
                </div>
              </li>
              <li class="splide__slide">
                <div class="userfback">
                  <div class="userfback__elps">
                    <div class="userfback__inf">
                      <div class="userfback__name">Jhon</div>
                      <div class="userfback__txt">
                        <p>“I didn't know it was so easy to find the right one!</p>
                        <p>Girls something, thank you KINKGRAB!</p>
                        <p>Guys you won't regret it!”</p>
                      </div>
                    </div>
                  </div>
                  <div class="userfback__bg"></div>
                </div>
              </li>
              <li class="splide__slide">
                <div class="userfback">
                  <div class="userfback__elps">
                    <div class="userfback__inf">
                      <div class="userfback__name">Alfred</div>
                      <div class="userfback__txt">
                        <p>“I didn't know it was so easy to find the right one!</p>
                        <p>Girls something, thank you KINKGRAB!</p>
                        <p>Guys you won't regret it!”</p>
                      </div>
                    </div>
                  </div>
                  <div class="userfback__bg"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
<%= _.template(require('./../includes/footer.html'))() %>
