<%= _.template(require('./../includes/header-index.html'))() %>
  <main class="main">
    <header class="firstscreen firstscreen_login">
      <div class="container container_xxxl firstscreen__container">
        <div class="logo logo_main d-xl-none">
          <div class="logo__img"></div>
          <div class="logo__txt">KINKGRAB</div>
        </div>
        <div class="firstscreen-img d-none d-xl-block">
          <div class="firstscreen-img__pic">
            <div class="firstscreen-img__photo photo01"></div>
          </div>
          <div class="firstscreen-img__bg"></div>
        </div>
        <div class="firstscreen__info firstscreen__info2" style="display: block;">
          <div class="row">
            <div class="col-12 col-xl-5 col-xxl-4">
              <div class="logo logo_main d-none d-xl-flex">
                <div class="logo__img"></div>
                <div class="logo__txt">KINKGRAB</div>
              </div>
              <div class="timer">
                <div class="timer__title">Limited offer</div>
                <div class="countdown-js" data-countdown-time="0-15-0"></div>
              </div>
              <div class="h1_login d-xl-none">Enter email to unlock<br><span>your best matches</span></div>
              <div class="h1_login d-none d-xl-block">Enter email<br>to unlock<br>your best<br>matches</div>
            </div>
            <div class="col-12 col-xl-7 col-xxl-8">
              <div class="firstscreen__form">
                <div class="firstscreen-img-wrap d-xl-none">
                  <div class="firstscreen-img ">
                    <div class="firstscreen-img__pic">
                      <div class="firstscreen-img__photo photo01"></div>
                    </div>
                    <div class="firstscreen-img__bg"></div>
                  </div>
                </div>
                <div class="firstscreen__cta">
                  <form action="">
                    <div class="form-group form-group_login">
                      <input class="form-control form-control_login" type="text" placeholder="Email">
                    </div>
                    <div class="form-group form-group_login mb-0">
                      <input class="form-control form-control_login" type="password" placeholder="Password">
                    </div>
                    <div class="form-group form-group_login form-group_login-btn">
                      <button class="btn-login btn btn_w100">Log In</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <section class="secondscreen secondscreen_2" style="display: block;">
      <div class="container container_xxxl">
        <div class="row">
          <div class="col">
            <div class="splide splide_ulist-extra user-list-extra" aria-label="Profiles extra">
              <div class="splide__track">
                <ul class="splide__list">
                  <li class="splide__slide">
                    <div class="user-list-item user-list-item_extra">
                      <div class="user-list-item__pic">
                        <div class="user-list-item__img">
                          <div class="user-list-item__photo"
                          style="background-image: url('assets/img/photos/user-extra-01.jpg');">
                            <div class="user-list-item__icon">Locked</div>
                          </div>
                        </div>
                        <div class="user-list-item__imgbg"></div>
                      </div>
                      <div class="user-list-item__inf">
                        <div class="user-list-item__data">
                          <div class="user-list-item__row">
                            <div class="user-list-item__name">Elizavetta, 21</div>
                            <div class="user-list-item__loc">London ~ 32km</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="splide__slide">
                    <div class="user-list-item user-list-item_extra">
                      <div class="user-list-item__pic">
                        <div class="user-list-item__img">
                          <div class="user-list-item__photo"
                          style="background-image: url('assets/img/photos/user-extra-02.jpg');">
                            <div class="user-list-item__icon">Locked</div>
                          </div>
                        </div>
                        <div class="user-list-item__imgbg"></div>
                      </div>
                      <div class="user-list-item__inf">
                        <div class="user-list-item__data">
                          <div class="user-list-item__row">
                            <div class="user-list-item__name">Elizavetta, 21</div>
                            <div class="user-list-item__loc">London ~ 32km</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="splide__slide">
                    <div class="user-list-item user-list-item_extra">
                      <div class="user-list-item__pic">
                        <div class="user-list-item__img">
                          <div class="user-list-item__photo"
                          style="background-image: url('assets/img/photos/user-extra-03.jpg');">
                            <div class="user-list-item__icon">Locked</div>
                          </div>
                        </div>
                        <div class="user-list-item__imgbg"></div>
                      </div>
                      <div class="user-list-item__inf">
                        <div class="user-list-item__data">
                          <div class="user-list-item__row">
                            <div class="user-list-item__name">Elizavetta, 21</div>
                            <div class="user-list-item__loc">London ~ 32km</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="h1_login2 h1_login2_my">What they say&nbsp;<br class="h1_login2br">about us</div>
        <div class="splide splide_fback">
          <div class="splide__track">
            <ul class="splide__list">
              <li class="splide__slide">
                <div class="userfback">
                  <div class="userfback__elps">
                    <div class="userfback__inf">
                      <div class="userfback__name">Jessy</div>
                      <div class="userfback__txt">
                        <p>“I didn't know it was so easy to find the right one!</p>
                        <p>Girls something, thank you KINKGRAB!</p>
                        <p>Guys you won't regret it!”</p>
                      </div>
                    </div>
                  </div>
                  <div class="userfback__bg"></div>
                </div>
              </li>
              <li class="splide__slide">
                <div class="userfback">
                  <div class="userfback__elps">
                    <div class="userfback__inf">
                      <div class="userfback__name">Jhon</div>
                      <div class="userfback__txt">
                        <p>“I didn't know it was so easy to find the right one!</p>
                        <p>Girls something, thank you KINKGRAB!</p>
                        <p>Guys you won't regret it!”</p>
                      </div>
                    </div>
                  </div>
                  <div class="userfback__bg"></div>
                </div>
              </li>
              <li class="splide__slide">
                <div class="userfback">
                  <div class="userfback__elps">
                    <div class="userfback__inf">
                      <div class="userfback__name">Alfred</div>
                      <div class="userfback__txt">
                        <p>“I didn't know it was so easy to find the right one!</p>
                        <p>Girls something, thank you KINKGRAB!</p>
                        <p>Guys you won't regret it!”</p>
                      </div>
                    </div>
                  </div>
                  <div class="userfback__bg"></div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </main>
<%= _.template(require('./../includes/footer.html'))() %>
