*::-webkit-input-placeholder {
  color: $input_placeholder_color;
  opacity: 1;
}
*:-moz-placeholder {
  color: $input_placeholder_color;
  opacity: 1;
}
*::-moz-placeholder {
  color: $input_placeholder_color;
  opacity: 1;
}
*:-ms-input-placeholder {
  color: $input_placeholder_color;
  opacity: 1;
}

.form-control {
  border: $input_border;
  background-color: $input_bg;
  border-radius: $input_border_radius;
  padding: 12px 19px;
  color: $input_txt_color;
  font-family: $input_txt_family;
  font-size: $input_txt_xs_size;
  line-height: $input_txt_xs_lh;
  font-weight: 400;
  text-transform: uppercase;
  &:hover {
    background-color: $input_hover_bg;
    color: $input_hover_txt_color;
  }
  &:focus {
    box-shadow: none;
    background-color: $input_hover_bg;
    color: $input_hover_txt_color;
    border-color: $btn_bg_color;
    outline: 1px solid $btn_bg_color;
  }
  &::placeholder {
    color: $input_placeholder_color;
    opacity: 0.7;
  }
  @media (min-width: 992px) {
    padding: 18px 30px;
    font-size: $input_txt_size;
    line-height: $input_txt_lh;
  }
  &.form-control_login {
    text-align: center;
    font-size: $input_txt_xs_size;
    line-height: $input_txt_xs_lh;
    @media (min-width: 1200px) {
      padding: 18px 30px;
      font-size: $input_txt_size;
      line-height: $input_txt_lh;
    }
    @media (min-width: 1500px) {
      font-size: 22px;
      padding: 18px 30px;
    }
  }
}

input.form-control {
  height: 50px;
  @media (min-width: 992px) {
    height: 62px;
  }
  @media (min-width: 1200px) {
    height: 62px;
  }
  &.form-control_login {
    height: 50px;
    @media (min-width: 1200px) {
      height: 65px;
    }
    @media (min-width: 1400px) {
      height: 65px;
    }
  }
}

textarea.form-control {
  border-radius: $textarea_border_radius_mob;
  min-height: 120px;
  @media (min-width: 768px) {
    height: 120px;
  }
  @media (min-width: 1200px) {
    border-radius: $textarea_border_radius;
    height: 115px;
  }
}

.custom-file {
  display: block;
  width: 182px;
  height: auto;
  position: relative;
  transform: rotate(-12deg);
  @media (min-width: 768px) {
    width: 182px;
  }
  @media (min-width: 1200px) {
    width: 225px;
  }

  .custom-file-input {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 0;
    margin: 0;
    overflow: hidden;
    opacity: 0;
  }

  .custom-file-area {
    width: auto;
    cursor: pointer;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
}
