$main-img-width: 398px;
$main-img-height: 296px;

$login-img-width: 410px;
$login-img-height: 304px;

$main-img-width-xl: 660px;
$main-img-height-xl: 480px;

$main-img-width-xxl: 760px;
$main-img-height-xxl: 550px;

$main-img-width-xxxl: 958px;
$main-img-height-xxxl: 710px;

.header {
  &.header_page {
    padding: 45px 0 30px;
    @media (min-width: 992px) {
      padding: 86px 0 110px;
    }
  }
}

.firstscreen {
  //padding: 45px 0 0 0;
  min-height: 645px;
  @media (min-width: 1200px) {
    //padding: 112px 0 0 0;
    min-height: 600px;
  }
  @media (min-width: 1400px) {
    min-height: 670px;
  }
  @media (min-width: 1650px) {
    min-height: 833px;
  }
}

.firstscreen__container {
  position: relative;
}

.firstscreen__info {
  display: none;
  width: 100%;
  @media (min-width: 992px) {}

  &.firstscreen__info1 {
    max-width: 500px;
    margin: 0 auto;
    @media (min-width: 768px) {}
    @media (min-width: 992px) {
      max-width: none;
      margin: 0;
    }
  }

  &.firstscreen__info2 {
    @media (min-width: 768px) {}
    @media (min-width: 992px) {}
    @media (min-width: 1200px) {}
    @media (min-width: 1400px) {}
    @media (min-width: 1650px) {}
  }

  //&.firstscreen__info3 {}
}

@mixin firstscreen-img-media($top) {
  @media (min-width: 1200px) {
    width: 750px;
    max-width: 750px;
    min-width: 750px;
    height: 600px;
    max-height: 600px;
    padding: 0;
    position: absolute;
    top: 140px;
    left: auto;
    right: -27px;
  }
  @media (min-width: 1400px) {
    width: 870px;
    max-width: 870px;
    min-width: 870px;
    height: 670px;
    max-height: 670px;
    right: -52px;
    top: $top;
  }
  @media (min-width: 1650px) {
    width: 1131px;
    max-width: 1131px;
    min-width: 1131px;
    height: 833px;
    max-height: 833px;
    right: -160px;
  }
  @media (min-width: 1920px) {
    right: calc(-52px - 186px);
  }
}

.firstscreen-img {
  width: 438px;
  max-width: 438px;
  min-width: 438px;
  height: 321px;
  max-height: 321px;
  margin: 0 auto;
  padding: 20px 0 0 0;
  position: relative;
  left: -34px;
  @media (min-width: 340px) {
    left: -26px;
  }
  @media (min-width: 350px) {
    left: -24px;
  }
  @media (min-width: 360px) {
    left: -12px;
  }
  @media (min-width: 380px) {
    left: -8px;
  }
  @media (min-width: 390px) {
    left: -4px;
  }
  @media (min-width: 400px) {
    left: -4px;
  }
  @media (min-width: 408px) {
    left: auto;
  }
  @include firstscreen-img-media(0);
}

.firstscreen-img__pic {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $main-img-width;
  max-width: $main-img-width;
  height: $main-img-height;
  max-height: $main-img-height;
  border-radius: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transform: rotate(12deg);
  //margin: 3px 0;
  @media (min-width: 400px) {
    height: $main-img-height;
    max-height: $main-img-height;
  }
  @media (min-width: 1200px) {
    width: $main-img-width-xl;
    max-width: $main-img-width-xl;
    height: $main-img-height-xl;
    max-height: $main-img-height-xl;
  }
  @media (min-width: 1400px) {
    width: $main-img-width-xxl;
    max-width: $main-img-width-xxl;
    height: $main-img-height-xxl;
    max-height: $main-img-height-xxl;
  }
  @media (min-width: 1650px) {
    width: $main-img-width-xxxl;
    max-width: $main-img-width-xxxl;
    height: $main-img-height-xxxl;
    max-height: $main-img-height-xxxl;
  }
}

.firstscreen-img__photo {
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 103%;
  z-index: -1;
  transform: rotate(-12deg);
  &.photo01 {
    background-image: url('../img/bg/bg01.jpg');
  }
  &.photo02 {
    background-image: url('../img/bg/bg02.jpg');
  }
  &.photo03 {
    background-image: url('../img/bg/bg03.jpg');
  }
  &.photo04 {
    background-image: url('../img/bg/bg04.jpg');
  }
}

.firstscreen-img__bg {
  width: 436px;
  height: 275px;
  border-radius: 100%;
  background-image: url('../img/bg/ellipse.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  position: absolute;
  z-index: -1;
  top: 3px;
  left: 0;
  transform: rotate(12deg);
  @media (min-width: 1200px) {
    border-radius: 0;
    transform: rotate(0deg);
    background-image: url('../img/bg/ellipses3.svg');
    width: 100%;
    height: 100%;
    top: -57px;
    left: 5px;
  }
}

.firstscreen-img-wrap {
  width: calc(100% + 40px);
  overflow: hidden;
  position: relative;
  left: -20px;
  @media (min-width: 500px) {
    width: 100%;
    left: auto;
    //overflow: auto;
  }
}

.firstscreen_login {

  .firstscreen-img {
    width: 408px;
    max-width: 408px;
    min-width: 408px;
    height: 310px;
    max-height: 310px;
    margin: 0 auto;
    position: relative;
    left: -42px;
    padding: 3px 0 0 0;
    @media (min-width: 350px) {
      left: -24px;
    }
    @media (min-width: 360px) {
      left: -21px;
    }
    @media (min-width: 380px) {
      left: -10px;
    }
    @media (min-width: 390px) {
      left: -8px;
    }
    @media (min-width: 400px) {
      left: -5px;
    }
    @media (min-width: 408px) {
      left: auto;
    }
    @include firstscreen-img-media(140px);
  }

  .firstscreen-img__pic {
    width: $login-img-width;
    max-width: $login-img-width;
    height: $login-img-height;
    max-height: $login-img-height;
    @media (min-width: 400px) {
      height: $login-img-height;
      max-height: $login-img-height;
    }
    @media (min-width: 1200px) {
      width: $main-img-width-xl;
      max-width: $main-img-width-xl;
      height: $main-img-height-xl;
      max-height: $main-img-height-xl;
    }
    @media (min-width: 1400px) {
      width: $main-img-width-xxl;
      max-width: $main-img-width-xxl;
      height: $main-img-height-xxl;
      max-height: $main-img-height-xxl;
    }
    @media (min-width: 1650px) {
      width: $main-img-width-xxxl;
      max-width: $main-img-width-xxxl;
      height: $main-img-height-xxxl;
      max-height: $main-img-height-xxxl;
    }
  }

  .firstscreen-img__photo {
    display: flex;
    justify-content: center;
    align-items: center;
    @include color-filter($body_bg_color, 0.55);
  }

  .firstscreen-img__bg {
    background-image: none;
    @media (min-width: 1200px) {
      background-image: url('../img/bg/ellipses2.svg');
    }
  }

  .firstscreen__imgbg1 {
    display: none;
  }

}

.firstscreen__form {
  width: 100%;
  position: relative;
}

.firstscreen__cta {
  width: 100%;
  max-width: 280px;
  position: absolute;
  top: 46px;
  left: 50%;
  margin-left: -140px;
  z-index: 10;
  @media (min-width: 400px) {}
  @media (min-width: 992px) {}
  @media (min-width: 1200px) {
    position: static;
    margin: 0 auto;
    max-width: 400px;
    transform: translate(-60px, 240px);
  }
  @media (min-width: 1400px) {
    max-width: 420px;
    transform: translate(5px, 290px);
  }
  @media (min-width: 1650px) {
    max-width: 540px;
    transform: translate(-10px, 363px);
  }
  @media (min-width: 1920px) {
    transform: translate(60px, 363px);
  }
}
