$settings-img-width: 322px;
$settings-img-height: 239px;
$settings-img-width-lg: 398px;
$settings-img-height-lg: 295px;

$settings-img-wrap-width: 353px;
$settings-img-wrap-height: 258px;
$settings-img-wrap-width-lg: 437px;
$settings-img-wrap-height-lg: 320px;

.settings-form {
  padding-top: 20px;
  @media (min-width: 992px) {
    padding-top: 48px;
  }
  @media (min-width: 1200px) {
    max-width: 510px;
    margin: 0 auto 0 0;
  }
}

.settings-photo {
  margin: 0 auto;
  position: relative;
  width: calc(100% + 40px);
  left: -20px;
  overflow: hidden;
  padding: 18px 0 0 0;
  @media (min-width: 353px) {
    left: 0;
    width: $settings-img-wrap-width;
    max-width: $settings-img-wrap-width;
  }
  @media (min-width: 1200px) {
    padding: 22px 0 0 0;
    width: $settings-img-wrap-width-lg;
    max-width: $settings-img-wrap-width-lg;
    margin: 0;
  }
}

.profile-photo-wrap {
  width: $settings-img-wrap-width;
  height: $settings-img-wrap-height;
  position: relative;
  transform: rotate(12deg);
  @media (min-width: 1200px) {
    width: $settings-img-wrap-width-lg;
    height: $settings-img-wrap-height-lg;
  }
}

.profile-photo-bg {
  width: 352px;
  height: 222px;
  max-height: 222px;
  border-radius: 100%;
  background-image: url('../img/bg/ellipse.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  position: absolute;
  z-index: -1;
  top: -16px;
  left: -4px;
  @media (min-width: 1200px) {
    width: 436px;
    height: 275px;
    max-height: 275px;
    top: -20px;
  }
}

.profile-photo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $settings-img-width;
  max-width: $settings-img-width;
  height: $settings-img-height;
  max-height: $settings-img-height;
  border-radius: 100%;
  background-color: $bg_dark_1;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow: hidden;
  @media (min-width: 400px) {
    height: $settings-img-height;
    max-height: $settings-img-height;
  }
  @media (min-width: 1200px) {
    width: $settings-img-width-lg;
    max-width: $settings-img-width-lg;
    height: $settings-img-height-lg;
    max-height: $settings-img-height-lg;
    margin-bottom: 25px;
  }

  .profile-photo-img {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 110%;
    z-index: -1;
    transform: rotate(-12deg);
  }
}

.settings__btn {
  margin: 0 0 40px 0;
  @media (min-width: 992px) {
    margin: 0 0 60px 0;
  }
  @media (min-width: 1200px) {
    margin: 0;
  }
}
