$ulist-img-width: 202px;
$ulist-img-height: 150px;
$ulist-img-width-lg: 398px;
$ulist-img-height-lg: 296px;

//.user-list-wrap {}

.user-list-extra-wrap {
  padding: 69px 0 0;
  @media (min-width: 1200px) {
    padding: 124px 0 0;
  }
}

.user-list-item {
  width: 200px;
  display: flex;
  flex-direction: column;
  position: relative;
  @media (min-width: $user_list_item_breakpoint) {
    flex-direction: row;
    width: 800px;
  }

  .user-list-item__pic {
    width: 201px;
    max-width: 201px;
    min-width: 201px;
    height: 164px;
    max-height: 164px;
    margin: 0 auto;
    padding: 9px 0 0 0;
    @media (min-width: $user_list_item_breakpoint) {
      width: 437px;
      max-width: 437px;
      min-width: 437px;
      height: 320px;
      max-height: 320px;
      padding: 16px 0 0 0;
    }

    .user-list-item__img {
      display: flex;
      align-items: center;
      justify-content: center;
      width: $ulist-img-width;
      max-width: $ulist-img-width;
      height: $ulist-img-height;
      max-height: $ulist-img-height;
      border-radius: 100%;
      position: relative;
      z-index: 0;
      overflow: hidden;
      transform: rotate(12deg);
      //margin: 3px 0;
      @media (min-width: 400px) {
        height: $ulist-img-height;
        max-height: $ulist-img-height;
      }
      @media (min-width: $user_list_item_breakpoint) {
        width: $ulist-img-width-lg;
        max-width: $ulist-img-width-lg;
        height: $ulist-img-height-lg;
        max-height: $ulist-img-height-lg;
      }
    }

    .user-list-item__photo {
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: cover;
      position: absolute;
      width: 100%;
      height: 110%;
      z-index: -1;
      transform: rotate(-12deg);
    }

    .user-list-item__imgbg {
      width: 200px;
      height: 132px;
      border-radius: 100%;
      background-image: url('../img/bg/ellipse.svg');
      background-repeat: no-repeat;
      background-position: 50%;
      background-size: contain;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 5px;
      transform: rotate(12deg);
      @media (min-width: $user_list_item_breakpoint) {
        width: 436px;
        height: 275px;
        top: 2px;
        left: 0;
      }
    }

  }

  .user-list-item__btn {
    transform: translateY(-13px);
    @media (min-width: $user_list_item_breakpoint) {
      transform: translateY(0);
      margin: 26px 0 0 0;
    }
  }

  .user-list-item__inf {
    width: 100%;
    max-width: 100%;
    position: relative;
    padding: 0;
    @media (min-width: $user_list_item_breakpoint) {
      padding: 23px 0 48px 38px;
      max-width: 366px;
      max-height: 100%;
    }
  }

  .user-list-item__data {
    padding: 6px 0 0 0;
    @media (min-width: $user_list_item_breakpoint) {
      padding: 0;
    }
  }

  .user-list-item__row {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    color: $font_color;
    padding: 0 0 20px;
    text-align: center;
    @media (min-width: $user_list_item_breakpoint) {
      padding: 0 0 26px;
      text-align: left;
    }

    .user-list-item__name {
      font-family: $font_family2;
      line-height: 1;
      font-size: 15px;
      margin-bottom: 12px;
      text-transform: uppercase;
      @include overflow-ellipsis;
      @media (min-width: $user_list_item_breakpoint) {
        font-size: 32px;
        margin-bottom: 19px;
      }
    }

    .user-list-item__loc {
      font-family: $font_family;
      line-height: 1;
      font-size: 10px;
      @include overflow-ellipsis;
      @media (min-width: $user_list_item_breakpoint) {
        font-weight: 500;
        font-size: 16px;
      }
    }
  }

  .compatibility-title {
    font-family: $font_family;
    color: $font_color;
    font-weight: 500;
    font-size: 8px;
    line-height: 1.2;
    margin-bottom: 15px;
    text-transform: uppercase;
    @include overflow-ellipsis;
    @media (min-width: $user_list_item_breakpoint) {
      font-size: 16px;
      margin-bottom: 22px;
    }
  }

  .user-list-item__icon {
    font-family: $font_family2;
    font-weight: 400;
    font-size: 14px;
    color: $font_color;
    text-transform: uppercase;
    position: relative;
    z-index: 5;
    @media (min-width: $user_list_item_breakpoint) {
      font-size: 32px;
    }
  }

  &.user-list-item_extra {
    flex-direction: column;
    width: 201px;
    @media (min-width: $user_list_item_breakpoint) {
      width: 437px;
    }
    .user-list-item__pic {
      .user-list-item__photo {
        display: flex;
        justify-content: center;
        align-items: center;
        @include color-filter($body_bg_color, 0.8);
      }
    }
    .user-list-item__row {
      text-align: center;
    }
    .user-list-item__data {
      padding: 17px 0 0;
      @media (min-width: $user_list_item_breakpoint) {
        padding: 35px 0 0;
      }
    }
    .user-list-item__row {
      padding: 0;
    }

  }
}

.user-list-title {
  font-family: $font_family2;
  font-weight: 400;
  font-size: 15px;
  line-height: 29px;
  color: $user_list_title_color;
  margin-bottom: 38px;
  text-transform: uppercase;
  text-align: center;
  @media (min-width: $user_list_item_breakpoint) {
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 80px;
  }
}
