$userprofile-img-width: 322px;
$userprofile-img-height: 239px;
$userprofile-img-width-lg: 514px;
$userprofile-img-height-lg: 382px;

.userprofile {
  position: relative;
  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
}

.userprofile__photo {
  margin: 0 auto;
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  padding: 18px 0 0 0;
  @media (min-width: 350px) {
    max-width: 350px;
  }
  @media (min-width: 1200px) {
    padding: 22px 0 0 0;
    max-width: 564px;
    margin: 0;
  }
}

.userprofile__pic {
  width: 353px;
  height: 258px;
  position: relative;
  @media (min-width: 1200px) {
    width: 564px;
    height: 412px;
  }
}

.userprofile__img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $userprofile-img-width;
  max-width: $userprofile-img-width;
  height: $userprofile-img-height;
  max-height: $userprofile-img-height;
  border-radius: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transform: rotate(12deg);
  margin: 3px 0;
  @media (min-width: 400px) {
    height: $userprofile-img-height;
    max-height: $userprofile-img-height;
  }
  @media (min-width: 1200px) {
    width: $userprofile-img-width-lg;
    max-width: $userprofile-img-width-lg;
    height: $userprofile-img-height-lg;
    max-height: $userprofile-img-height-lg;
  }

  .userprofile-img {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 110%;
    z-index: -1;
    transform: rotate(-12deg);
  }
}

.userprofile__imgbg {
  width: 352px;
  height: 222px;
  border-radius: 100%;
  background-image: url('../img/bg/ellipse.svg');
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
  position: absolute;
  z-index: -1;
  top: -16px;
  left: -4px;
  transform: rotate(12deg);
  @media (min-width: 1200px) {
    width: 562px;
    height: 355px;
    top: -20px;
    left: 10px;
  }
}

.userprofile__btn {
  display: block;
  margin: 0 auto;
  max-width: 290px;
  transform: translateY(-2px);
  @media (min-width: 400px) {
    max-width: none;
  }
  @media (min-width: 992px) {
    width: auto;
    height: 60px;
    font-size: 18px;
    padding: 21px 10px;
  }
  @media (min-width: 1200px) {
    width: auto;
    height: 90px;
    font-size: 28px;
    padding: 30px 15px;
    max-width: 510px;
    transform: translateY(0);
    margin-top: 16px;
  }
}

.userprofile__info {
  width: 100%;
  margin: 0 auto;
  @media (min-width: 400px) {
    max-width: 320px;
  }
  @media (min-width: 1200px) {
    max-width: 459px;
    margin: 0 0 0 auto;
  }
}

.userprofile__data {
  padding: 40px 20px 63px;
  @media (min-width: 1200px) {
    padding: 20px 0 80px;
  }
}

.userprofile__row {
  color: $font_color;
  line-height: 1;
  margin-bottom: 34px;
  text-align: center;
  @media (min-width: 1200px) {
    text-align: left;
    margin-bottom: 35px;
  }
}

.userprofile__name {
  font-family: $font_family2;
  font-weight: 400;
  font-size: 22px;
  margin: 0 0 18px 0;
  text-transform: uppercase;
  @include overflow-ellipsis;
  @media (min-width: 1200px) {
    font-size: 36px;
    margin: 0 0 32px 0;
  }
}

.userprofile__sep {
  @media (min-width: 1200px) {
    width: 8px;
    height: 8px;
    background-color: $body_bg_color;
    margin: 0 16px;
  }
}

.userprofile__loc {
  font-family: $font_family;
  font-weight: 500;
  font-size: 14px;
  @include overflow-ellipsis;
  @media (min-width: 1200px) {
    font-size: 19px;
  }
}

.compatibility {
  &.compatibility_mb {
    padding-bottom: 76px;
    @media (min-width: 1200px) {
      padding-bottom: 54px;
    }
  }
  .compatibility__progress {
    &.progress {
      border-radius: 0;
      background-color: $bg_dark_1;
      border: none;
      width: 73px;
      height: 33px;
      border-radius: 100%;
      position: relative;
      @media (min-width: 1200px) {
        width: 100px;
        height: 40px;
      }
      .progress-bar {
        color: $bg_light_1;
        font-weight: 500;
        font-size: 13px;
        border-radius: 100%;
        background-color: $btn_bg_color;
        @media (min-width: 1200px) {
          font-size: 17px;
        }
        .progress-title {
          position: absolute;
          width: 100%;
          text-align: center;
          top: 7px;
          @media (min-width: 1200px) {
            top: 7px;
          }
        }
      }
    }
  }

  .compatibility__title {
    font-family: $font_family2;
    color: $font_color;
    font-weight: 400;
    font-size: 13px;
    margin-bottom: 21px;
    text-transform: uppercase;
    text-align: center;
    @media (min-width: $user_list_item_breakpoint) {
      //text-align: left;
      font-size: 19px;
      margin-bottom: 25px;
    }
  }

  &.compatibility_list {
    .compatibility__progress {
      &.progress {
        width: 57px;
        height: 23px;
        @media (min-width: $user_list_item_breakpoint) {
          width: 83px;
          height: 33px;
        }
        .progress-bar {
          font-size: 10px;
          @media (min-width: $user_list_item_breakpoint) {
            font-size: 16px;
          }
          .progress-title {
            top: 4px;
            @media (min-width: $user_list_item_breakpoint) {
              top: 4px;
            }
          }
        }
      }
    }
    .compatibility__title {
      font-size: 9px;
      margin-bottom: 8px;
      @media (min-width: $user_list_item_breakpoint) {
        font-size: 16px;
        margin-bottom: 17px;
      }
    }
  }

  //&.compatibility_login {}
}

.user-profile-title { //Compability score
  font-family: $font_family2;
  color: $font_color;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 21px;
  text-transform: uppercase;
  text-align: center;
  @include overflow-ellipsis;
  @media (min-width: 992px) {}
  @media (min-width: 1200px) {
    font-size: 32px;
    margin-bottom: 41px;
    text-align: left;
  }
  &.user-profile-title_about { //About girl
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 30px;
    @media (min-width: 992px) {}
    @media (min-width: 1200px) {
      font-size: 32px;
      margin-bottom: 35px;
    }
  }
}

.user-profile-about {
  color: $font_color;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  position: relative;
  padding: 40px 20px 0;
  background-color: $body_bg_color;
  margin: 0 auto;
  @media (min-width: 400px) {
    max-width: 320px;
  }
  @media (min-width: 1200px) {
    font-size: 18px;
    max-width: 100%;
    padding: 40px 0 0;
  }
  p {
    line-height: 39px;
    @media (min-width: 992px) {
      line-height: 39px;
    }
  }
}
